@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0 auto;
    font-family: Ubuntu, Consolas, "Courier New";
}

.container-logo{
    background: #2E948A;
    display: flex;
    box-shadow: 0px 3px 7px 0px #00000040;
    
}

.menu-item{
    display: inline;
    font-size: 20px;
    
}

.menu-item-link{
    text-decoration: none;
    color: #fff;
    margin: 10px;
}

nav{
    margin-top: 20px;
    
}

#logo{
    margin-left: 47px;
}

.container-rodape{
    background: #2E948A;
    display: flex;
    flex-direction: row;
}

.logo-rodape{
    margin-left: 128px;
}

.menu-item-rodape{
    list-style-type: none;
}

.links{
    margin: 10;
}

.links a{
    display: flex;
    text-decoration: none;
    color: #fff;
    justify-content: center;
    border: #fff solid 1px;
    padding: 10px;
    border-radius: 62px;
    margin-top: 7px;
    font-size: 20px;
}

h1{
    color: #2E948A;
}
h2{
    color: #FF4081;
}

.topo-blog{
    display: flex;
    margin: 2% 10%;
}

.conteudo-blog{
    background: #F7F7F7;
}

.topo-blog-conteudo{
    margin-top: 10%;
}

.conteudo-blog img{
    max-width: 518px;
    max-height: 259px;
    background-color: #C4C4C4;
}

.conteudo-blog{
    margin: 0;
    background-color: #F6F6F6;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    padding: 7% 2%;
}

.retangulo {
    width:500px;
    height:250px;
    background-color: #C4C4C4;
    margin: 10px 0;    
}