@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    font-family: Ubuntu, Consolas, "Courier New";
}

header{
    background: #2E948A;
    padding: 1% 2%;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    box-shadow: 0px 3px 7px 0px #00000040;
}

.menu-item{
    display: inline;
    font-size: 20px;
}

.menu-item-link{
    text-decoration: none;
    color: #fff;
    margin: 10px;
}

nav{
    margin-top: 20px;
}

.container-rodape{
    background: #2E948A;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1%;
}

.menu-item-rodape{
    list-style-type: none;
}

.links{
    margin: 10;
}

.links a{
    display: flex;
    text-decoration: none;
    color: #fff;
    justify-content: center;
    border: #fff solid 1px;
    padding: 10px;
    border-radius: 62px;
    margin-top: 7px;
    font-size: 20px;
}

.form{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1{
    color: #ff4081;
}

input, textarea{
    width: 200%;
    border: 1px solid #686868;
    box-sizing: border-box;
    border-radius: 7px;
}
textarea{
    height: 250px;
}

.form a{
    text-decoration: none;
    color:#fff;
    background-color: #ff4081;
    border-radius: 50px;
    padding: 3% 7%;
}