@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0 auto;
    font-family: Ubuntu, Consolas, "Courier New";
}

.container-logo{
    background: #2E948A;
    display: flex;
    box-shadow: 0px 3px 7px 0px #00000040;
}

.menu-item{
    display: inline;
    font-size: 20px;
}

.menu-item-link{
    text-decoration: none;
    color: #fff;
    margin: 10px;
}

nav{
    margin-top: 20px;
}

#logo{
    margin-left: 47px;
}

.container-rodape{
    background: #2E948A;
    display: flex;
    flex-direction: row;
}

.logo-rodape{
    margin-left: 128px;
}

.menu-item-rodape{
    list-style-type: none;
}

.links{
    margin: 10;
}

a{
    text-decoration: none;
}

.links a{
    display: flex;
    text-decoration: none;
    color: #fff;
    justify-content: center;
    border: #fff solid 1px;
    padding: 10px;
    border-radius: 62px;
    margin-top: 7px;
    font-size: 20px;
}

h1{
    color: #FF4081;
}

.linha{
    width: 1244px;
    height: 5px;
    left: 82px;
    top: 834px;
    background: #C4C4C4;
}

.cursos{
    display: flex;
    margin: 112px;
}

.cursos-desc{
    display: flex;
    flex-direction: column;
}

main img{
    Width: 380px;
    Height: 381px;
}