@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0 auto;
    font-family: Ubuntu, Consolas, "Courier New";
}

.container-logo{
    background: #2E948A;
    display: flex;
    box-shadow: 0px 3px 7px 0px #00000040;
}

.menu-item{
    display: inline;
    font-size: 20px;
}

.menu-item-link{
    text-decoration: none;
    color: #fff;
    margin: 10px;
}

nav{
    margin-top: 20px;
}

#logo{
    margin-left: 47px;
}

.container-rodape{
    background: #2E948A;
    display: flex;
    flex-direction: row;
}

.logo-rodape{
    margin-left: 128px;
}

.menu-item-rodape{
    list-style-type: none;
}

.links{
    margin: 10;
}

.links a{
    display: flex;
    text-decoration: none;
    color: #fff;
    justify-content: center;
    border: #fff solid 1px;
    padding: 10px;
    border-radius: 62px;
    margin-top: 7px;
    font-size: 20px;
}

section{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

h1{
    color: #FF4081;
}

#primeira h1{
    font-size: 60px;
}

a{
    text-decoration: none;
}

section a{
    color: #FF4081;
    border: 2px solid #FF4081;
box-sizing: border-box;
border-radius: 62px;
font-size: 27px;
padding: 10px;
font-size: 27px;
}

.secao-2, .secao-4{
    background: #F6F6F6;
    display: flex;
}

img{
    max-width: 288px;
    max-height: 270px;
}