@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    font-family: Ubuntu, Consolas, "Courier New";
}

header{
    background: #2E948A;
    padding: 1% 2%;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    box-shadow: 0px 3px 7px 0px #00000040;
}

.menu-item{
    display: inline;
    font-size: 20px;
}

.menu-item-link{
    text-decoration: none;
    color: #fff;
    margin: 10px;
}

nav{
    margin-top: 20px;
}

.container-rodape{
    background: #2E948A;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1%;
}

.menu-item-rodape{
    list-style-type: none;
}

.links{
    margin: 10;
}

.links a{
    display: flex;
    text-decoration: none;
    color: #fff;
    justify-content: center;
    border: #fff solid 1px;
    padding: 10px;
    border-radius: 62px;
    margin-top: 7px;
    font-size: 20px;
}
/* Seção */
section{
    display: flex;
    justify-content: space-around;
    padding: 2%;
}

h1{
    color: #FF4081;
}

.secao-1{
    padding: 3%;
}

#primeira h1{
    font-size: 60px;
}

a{
    text-decoration: none;
}

section a{
    color: #FF4081;
    border: 2px solid #FF4081;
    box-sizing: border-box;
    border-radius: 62px;
    font-size: 27px;
    padding: 10px;
    font-size: 27px;
}

.secao-2{ 
    background: #F6F6F6;
    display: flex;
    justify-content: space-around;
    text-align: justify;
    padding: 5%;
}

img{
    max-width: 288px;
    max-height: 270px;
}

#primeira{
    justify-content: center;
    align-items: center;
}

/* Seção 3*/

.depoimentos{
    display: flex;
    margin: 78px;
}

.secao-3 h1{
    color: #009688;
    font-size: 37px;
}

.container-3{
    padding: 5%;
}
/*seão 4*/

.container-4-conteudo{
    display: flex;
}

.container-4 h1, h2{
    color: #009688;
}

.container-4 img{
    height: 193px;
    width: 319px;
    border-radius: 0px;
    background: #C4C4C4;
}

.secao-4{
    background: #F6F6F6;
    display: flex;
    justify-content: space-around;   
}