@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0 auto;
    font-family: Ubuntu, Consolas, "Courier New";
}

.container-logo{
    background: #2E948A;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 3px 7px 0px #00000040;
}

.menu-item{
    display: inline;
    font-size: 20px;
}

.menu-item-link{
    text-decoration: none;
    color: #fff;
    margin: 10px 30px;
    padding: 20px;
}