@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    font-family: Ubuntu, Consolas, "Courier New";
}

header{
    background: #2E948A;
    padding: 1% 2%;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    box-shadow: 0px 3px 7px 0px #00000040;
}

.menu-item{
    display: inline;
    font-size: 20px;
}

.menu-item-link{
    text-decoration: none;
    color: #fff;
    margin: 10px;
}

nav{
    margin-top: 20px;
}

.container-rodape{
    background: #2E948A;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1%;
}

.menu-item-rodape{
    list-style-type: none;
}

.links{
    margin: 10;
}

.links a{
    display: flex;
    text-decoration: none;
    color: #fff;
    justify-content: center;
    border: #fff solid 1px;
    padding: 10px;
    border-radius: 62px;
    margin-top: 7px;
    font-size: 20px;
}

main h1{
    color: #FF4081;
    font-size: 50px;
}

main h2{
    color:#2E948A
}

.topo{
    text-align: center;
}

.retangulo{
    width: 1032px;
    height: 465px;
    background-color: #C4C4C4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post{
    padding: 5% 20%;
}

h3{
    color:#9D9D9D;
    font-size: 18px;
}

.cursos a{
    text-decoration: none;
    color: #FF4081;
}

.cursos h1{
    font-size: 25px;
}

.cursos{
    background-color: #F7F7F7;
    display: flex;
    justify-content: space-around;
}

.cursos div{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    align-items: center;
}

.cursos img{
    padding: 1%;
    width: 187px;
    height: 280px;
}